[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot
[submodule "dotbot-apt"]
	path = dotbot_plugins/dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt
[submodule "dotbot-snap"]
	path = dotbot_plugins/dotbot-snap
	url = https://github.com/DrDynamic/dotbot-snap.git
